# Node modules directory
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# IDE and editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
coverage/

# Miscellaneous
*.tgz
*.gz

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# NPM package-lock
package-lock.json
